/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.panel {
    position: absolute;
    z-index: 4;
    width: 100%;    
    background: transparent;
    top: 40%;
	text-align:center;
}

@media screen and (max-width: 768px) {
  .panel  {
    top: 30%;
  }
}

.panel h1 {
    font-size: 50px;
    color: white;
}

.panel h2 {
    font-size: 28px;   
    color: rgba(255, 255, 255, 0.8);    
}